<!-- Cabeçalho com menu de navegação -->
<header>
  <h2>Finnace Manager Fortal</h2>
  <nav>
    <a href="/">Home</a> |
    <a href="/obra">Obras</a> |
    <a href="/nota"> Notas Fiscais</a>|
    <a href="/dashboard"> Dashboard</a>|
  </nav>
</header>